{% extends 'WineReviewApp/base.html' %}

{% block title %}
{% if user.is_authenticated %}
    <p  style="float:right;font-weight: 800; font-size: 0.5em;">Hello {{ request.user.username }}</p>
{% else %}
    <p  style="float:right;font-weight: 800; font-size: 0.5em;">Hello Anonymous</p>
{% endif %}

{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}

<h2>Latest reviews</h2>
{% endblock %}

{% block content %}
{% if latest_review_list %}
<div>
    {% for review in latest_review_list %}
    <div>
        <h4><a href="{% url 'review_detail' review_id=review.id %}">
        {{ review.wine.name }}
        </a></h4>
        <h6>rated {{ review.rating }} of 5 by {{ review.user_name }}</h6>
        <p>{{ review.comment }}</p>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No reviews are available.</p>
{% endif %}
{% endblock %}
